<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.system.moneycontrol.v3">

    <application>

        <activity
            android:name=".presenter.transaction.TransactionListActivity"
            android:theme="@style/AppTheme" />

    </application>

</manifest>
