<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.system.moneycontrol">

    <application>
        <activity android:name=".view.transaction.TransactionManagerActivity"></activity>
        <activity
            android:name=".view.transaction.TransactionListActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>